.hero-content{
  margin: 2rem auto;
  text-align: center;
}

.hero-content button{
  outline: none;
  border-radius: 8px;
  background-color: rgb(42, 96, 73);
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.5s;
}

.hero-content button:hover{
  border: 2px solid rgb(42, 96, 73);
  color: rgb(42, 96, 73);
  background-color: white;
  cursor: pointer;
}


.hero .img-div{
  max-width: 100%;
  background-size: cover;
  height: 50vh;
  background-image: url("../images/herobg.jpg");
}

.benefits{
  margin: 2rem 0;
}

.benefits div{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.benefits button{
  outline: none;
  border-radius: 8px;
  background-color: rgb(42, 96, 73);
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.5s;
}

.benefits button:hover{
  border: 2px solid rgb(42, 96, 73);
  color: rgb(42, 96, 73);
  background-color: white;
  cursor: pointer;
}

.benefits i{
  display: inline-block;
  margin: 0 4px;
}

.benefits > div{
  padding: 2rem 0;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  h1{
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero{
    display: flex;
    height: 100vh;
    width: 90%;
  }

  .hero .img-div{
    flex-basis: 40%;
    height: 100%;

  }

  .hero div:first-child{
    flex-basis: 60%;
  } 

  .benefits {
    display: flex;
    height: 60vh;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .benefits div{
    padding: 0 3rem;
  }

}