body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


body{
    background-color: #FBF9F1;
}

*, *::after, *::before{
    box-sizing: inherit;
}

/* Navbar styling */
/* nav{
    text-align: center;
    padding: 1.5rem 0;
}
nav div, nav ul{
    margin-top: 1rem;
}
nav div:first-child{
    margin-top: 0;
}
nav > div a{
    display: block;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
nav a{
    padding-bottom: 0.2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
nav a:not(.nav-logo):hover{
    text-decoration: underline;
}
.nav-logo{
    color: rgb(42, 96, 73);;
    letter-spacing: 5px;
    transition: none;
} */


/*Headings*/

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }

  .navbar-brand {
    position: relative;
    width: 50px;
    height: 60px;
    top: -50px;
    right: 20px;
    background-size: contain;
  }

  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none !important;
      box-shadow: none;
  }

  .navbar-light .navbar-toggler {
      border: none !important;
  }
  
  /* .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
    color: black !important;
  } */
  
  .nav-item {
    padding: 0 18px;
  }

  .navbar_collapse {
      flex-grow: 0 !important;
  }
  
  .nav-link {
    /* font-size: 1.2rem; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black !important;
    font-weight: bold;
    text-transform: uppercase;
  }

footer{
    padding-bottom: 1rem;
}

footer section:first-child{
    border-bottom: 2px solid;
    margin: 0 3rem;
}

footer section:first-child div{
    width: 80%;
    margin: 0 auto;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer section:first-child li{
    display: inline-block;
    margin: 0.3rem 0;
}

.footer-link{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
}

.nav-scroll{
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    background-color: #FBF9F1;
}

footer{
    background-color: rgb(42, 96, 73);
    color: white;
}

footer{
    padding: 2rem 0;
}

footer section:first-child ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3{
    text-align: center;
}

footer section:nth-child(2) div:last-child{
    margin: 1rem 0;
    text-align: center;
}

footer section:nth-child(2) ul{
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer section:nth-child(2) ul li{
    display: inline-block;
    margin: 1rem 0;
}

footer section:last-child .footer-link{
    text-decoration: underline;
}

#us_desc{
    text-align: center;
}

#us_desc p{
    margin: 0.3rem 0;
    font-weight: bold;  
}

#us_desc span{
    background-color: rgb(42, 96, 73);
    color: white;
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
}

#us_desc_link{
    color: white;
}

#us_desc_link:hover{
    text-decoration: none;
}


@media only screen and (min-width: 961px) {
    header{
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        z-index: 2;
        transition: background-color 500ms;
    }
    
    /* nav{
        display: flex;
        width: 90%;
        margin: 0 auto;
    }
    nav > div{
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }

    nav ul{
        margin: 0rem;
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;

    }
    nav div, nav ul{
        margin-top: 0;
    }
    
    nav a{
        border-bottom: 2px solid transparent;
        margin: 0 1rem;
        transition: border-color 800ms;
        border-radius: 2px;
    }

    nav a:not(.nav-logo):hover{
        border-color: black;
        text-decoration: none;
    } */

    footer{
        width: 90%;
        margin: 0 auto;
    }

    footer section:first-child{
        display: flex;
    }

    footer section:first-child div{
        flex-basis: 20%;
    }
    
    footer section:nth-child(2) ul{
        display: flex;
        justify-content: space-around;
        margin: 4rem 0;
        flex-direction: row;
    }

    footer section:first-child div{
        margin: 3rem;
    }

    footer section:first-child ul{
        align-items: flex-start;
    }

    footer h3{
        text-align: left;
    }
  }